<p style="color: green"><%= notice %></p>

<%= render @movie %>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", movies_path %>
<hr>  
  <%= button_to "Eliminar la Pelicula", @movie, method: :delete, class: "btn" %>
</div>
