<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Edit this client", edit_client_path(@client) %> |
  <%= link_to "Back to clients", clients_path %>

  <br>
  <%= button_to "Eliminar Cliente", @client, method: :delete, class: "btn" %>
</div>
